---
export interface Props {
	title: string;
	description: string;
	permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content="https://astro.build/social.png?v=1" /> -->

<!-- Twitter -->
<meta property="twitter:card"
	content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description"
	content={description} />
<!-- <meta property="twitter:image" content="https://astro.build/social.png?v=1" /> -->

<style is:global>
	@import "open-props/style";
	@import "open-props/normalize";
	@import "open-props/colors";
	@import "open-props/colors-hsl";
	@import "open-props/gradients";

	:root {
		--link: var(--teal-9);
		--link-visited: var(--teal-9);
		--text-1: var(--gray-9);
		--text-2: var(--gray-8);
		--theme-accent: var(--teal-9);
		--theme-accent-rgb: var(--color-teal-rgb);
		--theme-text: var(--gray-9);
		--theme-text-light: var(--gray-7);
		--theme-text-lighter: var(--gray-4);
	}

	body {
		background-image: url("sunrise.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;

		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
	}

	section {
		background: hsl(var(--gray-0-hsl) / 50%);
		backdrop-filter: blur(20px);
		margin: var(--size-fluid-2);
		border-radius: var(--radius-4);
		padding: var(--size-fluid-2);
		min-width: 50rem;
	}

	p {
		padding: var(--size-1);
	}

	a {
		text-decoration-color: var(--teal-9);
	}

	.icon {
		fill: currentColor;
		width: var(--size-4);
	}
</style>
